footer {
  height: 490px;
  background: $light-grey-1;
  padding: 40px 0;
  @media screen and (max-width: 890px) {
    height: 1000px;
  }
  @media screen and (max-width: 515px) {
    height: 1100px;
  }
  @media screen and (max-width: 420px) {
    height: 1400px;
  }

  .container {
    max-width: 1000px;
    margin: 0 auto;
    @media screen and (max-width: 1040px) {
      padding: 0 20px;
    }
    h1 {
      text-transform: uppercase;
      font-size: 1.4rem;
      letter-spacing: 4px;
      margin-bottom: 40px;
      @media screen and (max-width: 890px) {
        text-align: center;
        margin-bottom: 50px;
        font-size: 1.7rem;
      }
    }

    .form {
      display: flex;
      gap: 30px;
      align-items: center;
      @media screen and (max-width: 890px) {
        flex-direction: column;
        margin-bottom: 100px;
      }
      .left {
        display: flex;
        flex-direction: column;
        @media screen and (max-width: 890px) {
          margin-bottom: 20px;
        }

        input {
          border-bottom: 1.8px solid $black-2;
          border-left: none;
          border-right: none;
          border-top: none;
          outline: none;
          font-size: 1.5rem;
          background: transparent;
          padding: 10px 15px;
          color: $light-grey-2;
          width: 710px;
          @media screen and (max-width: 1040px) {
            width: 600px;
          }
          @media screen and (max-width: 645px) {
            width: 100%;
          }

          &:hover {
            border-bottom: 1.8px solid $blue-1;
          }
        }

        p {
          margin-top: 5px;
          font-size: 0.85rem;
          line-height: 22px;
          padding-right: 40px;
          letter-spacing: 0.5px;
          @media screen and (max-width: 1040px) {
            width: 610px;
            padding-right: 0;
          }
          @media screen and (max-width: 645px) {
            width: 100%;
            text-align: center;
          }
          @media screen and (max-width: 345px) {
            font-size: 0.75rem;
          }
        }
      }

      .right {
        button {
          width: 210px;
          height: 50px;
          text-transform: uppercase;
          background: transparent;
          border: 2px $black-2 solid;
          letter-spacing: 1px;
          font-size: 1rem;

          &:hover {
            background: $blue-1;
            color: $white-1;
          }
        }
      }
    }

    .last-container {
      margin-top: 35px;
      display: grid;
      grid-template-columns: 70% 25%;
      justify-content: space-between;
      @media screen and (max-width: 890px) {
        grid-template-columns: 1fr;
        grid-template-rows: 60% 40%;
      }
      .container-left {
        display: grid;
        grid-template-columns: 31% 31% 31%;
        justify-content: space-between;
        @media screen and (max-width: 890px) {
          justify-items: center;
          margin-bottom: 80px;
        }
        @media screen and (max-width: 515px) {
          text-align: center;
          display: block;
        }

        .each-div {
          display: grid;
          grid-template-rows: 30% 70%;
          @media screen and (max-width: 515px) {
            text-align: center;
            display: inline-block;
            margin: 20px;
          }

          h3 {
            text-transform: uppercase;
            font-size: 1.1rem;
            letter-spacing: 1px;
            @media screen and (max-width: 515px) {
              margin-bottom: 15px;
            }
          }

          .list {
            display: flex;
            flex-direction: column;
            gap: 10px;

            p {
              font-size: 0.9rem;
              cursor: pointer;

              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }

      .container-right {
        @media screen and (max-width: 890px) {
          width: 40%;
          margin: 0 auto;
        }
        @media screen and (max-width: 510px) {
          width: 60%;
        }
        @media screen and (max-width: 390px) {
          width: 100%;
        }
        @media screen and (max-width: 420px) {
          margin-top: 50px;
        }
        .inner {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 30px;

          h3 {
            text-transform: uppercase;
            font-size: 1.1rem;
            letter-spacing: 1px;
          }

          ul {
            display: flex;
            justify-content: space-between;
            width: 70%;

            li {
              i {
                font-size: 1.9rem;
                cursor: pointer;
              }
            }
          }

          .circle-art {
            border-radius: 300px;
            height: 40px;
            width: 40px;
            border: solid 1.5px $black-2;
            display: flex;
            align-items: center;
            justify-content: center;
            background: $white-1;
            cursor: pointer;

            p {
              font-size: 0.7rem;
              text-align: center;
              font-weight: bold;
              line-height: 9px;
              padding: 5px;
            }
          }
        }
      }
    }
  }
}
