header {
  height: 700px;
  object-fit: cover;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100vw;

  @media screen and (max-width: 750px) {
    height: 600px;
  }
  @media screen and (max-width: 500px) {
    height: 500px;
  }
  @media screen and (max-width: 390px) {
    height: 400px;
  }

  .header {
    object-fit: cover;
    height: 100%;
    position: absolute;
    width: 100%;
    transition: 0.7s ease;

    .inner {
      h1 {
        color: $white-1;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-weight: lighter;
        font-size: 2.2rem;

        @media screen and (max-width: 750px) {
          padding: 0 20px;
          text-align: center;
          margin-bottom: 40px;
        }
        @media screen and (max-width: 500px) {
          font-size: 1.6rem;
          line-height: 40px;
        }
      }

      button {
        width: 150px;
        background: $white-1;
        color: $black-1;
        height: 50px;
        font-size: 1rem;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin-top: 20px;

        @media screen and (max-width: 500px) {
          height: 40px;
          font-size: 0.9rem;
        }

        &:hover {
          background: $black-1;
          color: $white-1;
          font-weight: bold;
        }
      }
    }
  }

  .barres {
    display: flex;
    position: absolute;
    bottom: 20px;

    #barre1 {
      background: white;
      height: 6px;
      width: 32px;
    }
    .each-barre {
      height: 3px;
      width: 20px;
      background: grey;
      margin: 0 5px;
      border-radius: 10px;
      cursor: pointer;
    }
  }

  .header-1 {
    background: url(../img/pexels-unalaurencic-20967.jpg) center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;

    .inner-1 {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .header-2 {
    opacity: 0;
    background: url(../img/1046954-le-musee-d-art-moderne-de-la-ville-de-paris-un-voyage-artistique-du-xxeme-au-xxieme-siecle.jpg)
      center/cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .inner-2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 150px;
      h1 {
        color: $black-1;
        text-align: center;
      }

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        background: $black-2;
        color: $white-1;
        width: 150px;
        height: 80px;
        font-size: 1rem;
        letter-spacing: 2px;
        text-transform: uppercase;
        margin-top: 20px;
        line-height: 20px;

        &:hover {
          background: $white-1;
          color: $black-2;
          font-size: 0.9rem;
        }
      }
    }
  }
  .header-3 {
    opacity: 0;
    background: url(../img/une-installation-des-oeuvres-de-chiara-capellini-dans-l-enceinte-de-l-ancien-theatre-un-lieu-etonnant-situe-dans-le-centre-historique-de-beaune.jpg)
      center/cover;
    display: flex;
    align-items: center;
    justify-content: center;

    .inner-3 {
      display: flex;
      flex-direction: column;
      align-items: center;

      h4 {
        color: $white-1;
        margin: 30px 0;
        font-size: 1.6rem;
        padding: 0 100px;
        text-align: center;
      }
    }
  }
}
