.nav-principal {
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: 100px;
  position: fixed;
  background: $white-1;
  z-index: 10000;
  top: 0;
  border-bottom: 1px solid $light-grey-1;

  @media screen and (max-width: 791px) {
    grid-template-rows: 1fr;
  }

  .nav-1 {
    display: grid;
    grid-template-columns: 15% 68% 17%;
    padding: 0 100px;

    @media screen and (max-width: 1350px) {
      padding: 0 10px;
    }

    @media screen and (max-width: 1240px) {
      padding-right: 80px;
      grid-template-columns: 15% 60% 35%;
    }

    @media screen and (max-width: 1034px) {
      padding-right: 30px;
      grid-template-columns: 20% 50% 30%;
    }

    @media screen and (max-width: 863px) {
      padding-right: 90px;
      grid-template-columns: 20% 40% 40%;
    }

    @media screen and (max-width: 791px) {
      padding: 0 20px;
      margin-top: 17px;
      grid-template-columns: 10% 60% 40%;
    }

    @media screen and (max-width: 621px) {
      grid-template-columns: 15% 55% 30%;
    }

    @media screen and (max-width: 430px) {
      grid-template-columns: 23% 45% 32%;
    }

    .logo-black {
      padding-top: 15px;

      .art {
        @media screen and (max-width: 791px) {
          display: none;
        }
      }
    }

    .input {
      padding-top: 15px;
      height: 50px;

      input {
        width: 100%;
        height: 100%;
      }
    }

    .first-ul {
      display: flex;
      padding-top: 15px;
      color: $grey-1;
      justify-content: space-evenly;
      align-items: center;
      height: 50px;

      @media screen and (max-width: 791px) {
        justify-content: flex-start;
        margin-left: 15px;
        gap: 10px;
      }

      @media screen and (max-width: 621px) {
        justify-content: flex-end;
      }
      li {
        height: 20px;
        cursor: pointer;

        @media screen and (max-width: 791px) {
          margin-right: 18px;
        }

        @media screen and (max-width: 621px) {
          margin-right: 8px;
        }

        &:hover {
          color: $blue-1;
        }
        i {
          font-size: 1.2rem;
        }
      }

      li:first-child,
      li:nth-child(2),
      li:nth-child(3) {
        @media screen and (max-width: 791px) {
          display: none;
        }
      }
      li:nth-child(6) {
        display: none;
        height: 30px;

        @media screen and (max-width: 791px) {
          display: flex;
        }

        i {
          font-size: 1.8rem;
        }
      }

      li:nth-child(5) {
        display: flex;

        @media screen and (max-width: 430px) {
          display: none;
        }

        .div-img {
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 1000px;
          height: 20px;
          width: 20px;
          border: 1px solid $black-1;
          background-color: black;
          z-index: 1000;

          img {
            width: 100%;
            height: 100%;
            border-radius: 1000px;
            object-fit: cover;
          }
        }

        p {
          margin-left: 6px;

          @media screen and (max-width: 621px) {
            display: none;
          }
        }
      }
    }
  }

  .nav-2 {
    width: 100%;
    padding: 0 100px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 940px) {
      padding: 0 20px;
    }

    @media screen and (max-width: 791px) {
      display: none;
    }
    .second-ul {
      display: flex;
      text-transform: uppercase;
      color: $grey-1;
      margin-top: 20px;
      width: 100%;
      justify-content: space-between;
      max-width: 950px;

      li {
        height: 28.5px;
        margin-right: 10px;
        margin-left: 10px;
        font-size: 0.9rem;
        cursor: pointer;
        letter-spacing: 0.5px;

        .pop-up {
          display: none;
          width: 100%;
          height: 460px;
          background-color: rgba(255, 255, 255, 0.938);
          position: absolute;
          left: 0;
          top: 49px;
          z-index: 3000;
          border-top: 1px solid $light-grey-1;

          .div-principal {
            display: flex;
            width: 70%;
            margin: 0 auto;
            justify-content: space-evenly;
            padding-top: 100px;
            .each-div {
              color: $black-2;

              .div-img {
                height: 200px;
                width: 300px;

                img {
                  height: 100%;
                  width: 100%;
                  object-fit: cover;
                }
              }
              ul {
                li {
                  display: flex;
                  margin-bottom: 20px;
                  align-items: center;
                  font-size: 0.9rem;
                  &:hover {
                    color: $blue-1;
                    border-bottom: none;
                  }

                  &:hover span {
                    background-color: $blue-1;
                  }
                  span {
                    margin-right: 15px;
                    height: 25px;
                    width: 25px;
                    font-size: 1rem;
                    background-color: $black-2;
                    color: white;
                    border-radius: 1000px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 4px;
                  }
                }
              }
            }

            .each-div:first-child {
              font-weight: bold;
              letter-spacing: 1px;
              text-transform: none;

              li:last-child {
                margin-top: 40px;
                position: relative;

                &:before {
                  content: "";
                  position: absolute;
                  height: 2px;
                  width: 20%;
                  background: $black-2;
                  top: -120%;
                }
              }
            }

            .each-div:nth-child(2) {
              font-weight: lighter;
              color: $grey-1;
              letter-spacing: 1px;
              text-transform: none;
            }

            .each-div:last-child {
              font-size: 0.8rem;
              h4 {
                color: $light-grey-2;
                font-size: 1rem;
                margin: 15px 0;
                font-weight: lighter;
                text-transform: uppercase;
              }

              p {
                color: $grey-1;
                text-transform: none;
                font-size: 0.9rem;
              }
            }
          }

          .div-principal-6 {
            display: flex;
            width: 85%;
            margin: 0 auto;
            padding-top: 40px;
            justify-content: space-evenly;

            .each-div:nth-child(3) {
              display: flex;
              flex-direction: column;

              .column-container {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                gap: 50px;
                .each-column {
                  display: flex;
                  flex-direction: column;
                  gap: 20px;
                  margin-top: 20px;
                  .each-little-div {
                    display: flex;
                    align-items: center;
                    gap: 15px;
                    font-weight: lighter;
                    .div-img {
                      height: 70px;
                      width: 70px;
                      object-fit: cover;
                      border-radius: 1000px;
                      img {
                        width: 100%;
                        height: 100%;
                        border-radius: 1000px;
                        object-fit: cover;
                      }
                    }

                    p {
                      font-weight: lighter;
                      color: $grey-1;
                    }
                  }
                }
              }
            }

            .each-div:nth-child(2) {
              h4 {
                margin-bottom: 25px;
              }
              p {
                display: flex;
                margin-top: 0;
                margin-bottom: 15px;
                span {
                  margin-right: 15px;
                  height: 25px;
                  width: 25px;
                  font-size: 1rem;
                  background-color: $black-2;
                  color: white;
                  border-radius: 1000px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  padding: 4px;
                }
              }
            }

            .each-div {
              color: $black-2;

              h4 {
                color: $light-grey-2;
              }

              p {
                font-weight: bold;
                margin-top: 15px;
              }
            }
          }

          .div-principal-7 {
            display: flex;
            width: 85%;
            margin: 0 auto;
            justify-content: space-evenly;

            .each-div {
              color: $black-2;
              padding-top: 100px;
              h4 {
              }
              p {
                margin-top: 15px;
              }
              .div-img {
                height: 200px;
                width: 300px;
                img {
                  height: 100%;
                  width: 100%;
                  object-fit: cover;
                }
              }
            }
          }
          .div-principal-8 {
            display: flex;
            width: 70%;
            margin: 0 auto;
            justify-content: space-evenly;

            .each-div {
              color: $black-2;
              padding-top: 100px;
              h4 {
              }
              p {
                margin-top: 15px;
              }
              .div-img {
                height: 200px;
                width: 300px;
                img {
                  height: 100%;
                  width: 100%;
                  object-fit: cover;
                }
              }
            }
          }
        }

        &:hover {
          color: $blue-1;
          border-bottom: 2.5px solid $blue-1;
        }

        &:hover .pop-up {
          display: flex;
          color: black;
          border-bottom: none;
        }
      }
    }
  }
}
