.section-9 {
  width: 98%;
  display: grid;
  grid-template-columns: 16% 84%;
  max-width: 1400px;
  height: 400px;
  align-items: center;
  margin: 0 auto;

  @media screen and (max-width: 1356px) {
    margin: 40px auto;
  }

  @media screen and (max-width: 1356px) {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30% 70%;
    height: 500px;
  }

  .left {
    padding-top: -30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
    h2 {
      font-size: 1.8rem;
      letter-spacing: 2px;
      text-transform: uppercase;
      font-weight: lighter;
    }

    p {
      font-weight: lighter;

      i {
        font-weight: bold;
        font-style: normal;
      }
    }
  }
  .container {
    display: grid;
    grid-template-columns: 5% 90% 5%;
    align-items: center;
    height: 70%;
    @media screen and (max-width: 510px) {
      grid-template-columns: 15% 70% 15%;
    }
    @media screen and (max-width: 300px) {
      grid-template-columns: 10% 80% 10%;
    }
    .button-angle {
      i {
        font-size: 2.5rem;
        color: $light-grey-2;
        transition: 0.5s ease;
        cursor: pointer;

        &:hover {
          transform: scale(1.3);
        }
      }
    }

    .button-angle-right {
      display: flex;
      flex-direction: row-reverse;

      @media screen and (max-width: 1532px) {
        flex-direction: row;
      }
    }

    .button-angle-left {
      @media screen and (max-width: 1532px) {
        display: flex;
        flex-direction: row-reverse;
      }

      @media screen and (max-width: 790px) {
        padding-left: -10px;
      }
    }

    .center {
      height: 100%;
      display: grid;
      grid-template-columns: 24% 24% 24% 24%;
      justify-content: space-between;
      align-items: center;

      @media screen and (max-width: 1218px) {
        grid-template-columns: 32.5% 32.5% 32.5%;
      }
      @media screen and (max-width: 830px) {
        grid-template-columns: 47% 47%;
      }
      @media screen and (max-width: 790px) {
        grid-template-columns: 49% 49%;
      }

      @media screen and (max-width: 510px) {
        grid-template-columns: 100%;
      }

      .each-div {
        height: 100%;
        display: grid;
        grid-template-rows: 35% 50% 15%;
        cursor: pointer;

        .up {
          display: flex;
          align-items: center;

          h6 {
            font-size: 0.9rem;
          }

          .stars {
            margin-left: 15px;
          }
        }

        .text-commentaire {
          font-size: 0.9rem;
          padding-right: 25px;
          line-height: 22px;
        }

        p {
          display: flex;
          flex-direction: row-reverse;
          font-size: 0.6rem;
          color: $light-grey-2;
          padding-right: 17px;
        }
      }

      .each-div:nth-child(4) {
        @media screen and (max-width: 1218px) {
          display: none;
        }
      }
      .each-div:nth-child(3) {
        @media screen and (max-width: 830px) {
          display: none;
        }
      }
      .each-div:first-child {
        @media screen and (max-width: 790px) {
          padding-left: 20px;
        }
      }
      .each-div:nth-child(2) {
        @media screen and (max-width: 510px) {
          display: none;
        }
      }
    }
  }
}
