.section-1 {
  display: flex;
  flex-direction: column;
  max-width: 1500px;
  min-width: 70%;
  margin: 0 auto;
  width: 73%;
  margin-top: 70px;

  .title {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      font-size: 2.6rem;
      font-weight: lighter;
      color: $black-2;
      text-transform: uppercase;
      letter-spacing: 2px;

      @media screen and (max-width: 900px) {
        font-size: 2rem;
        text-align: center;
      }
    }

    p {
      font-weight: lighter;
      font-size: 0.9rem;
      margin-top: 10px;
      text-transform: uppercase;
      letter-spacing: 0.5px;
      color: $grey-1;

      @media screen and (max-width: 900px) {
        margin: 30px 0;
        text-align: center;
      }
    }
  }

  .inputs {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 24% 24% 24% 24%;
    margin-top: 45px;

    @media screen and (max-width: 760px) {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    .each-input {
      width: 100%;
      height: 42px;
      position: relative;

      input {
        width: 100%;
        height: 100%;
        border: none;
        background: $black-2;
        color: $white-1;
        font-size: 0.9rem;
        font-weight: lighter;
        letter-spacing: 1.5px;
        cursor: pointer;
        text-transform: uppercase;

        &:hover {
          background: $blue-1;
        }
      }
      select {
        width: 100%;
        height: 100%;
        border: none;
        border-bottom: 1.8px solid $black-2;
        cursor: pointer;
        padding: 0 10px;
        outline: none;
        font-weight: bold;
        letter-spacing: 1px;
        color: $black-2;

        option {
          width: 100%;
          height: 200%;
          cursor: pointer;
          color: $light-grey-2;
          letter-spacing: 1px;
          font-size: 0.9rem;
          font-weight: lighter;
          margin-bottom: 10px;

          &:focus {
            margin-bottom: 20px;
          }

          &:hover {
            background: $light-grey-1;
          }
        }
        option:first-child {
          display: none;
        }
      }

      .angle-down {
        position: absolute;
        background: $white-1;
        top: 20%;
        right: 0;
      }
      .angle-up {
        color: $blue-1;
        position: absolute;
        background: $white-1;
        top: 20%;
        right: 0;
        visibility: hidden;
      }
    }

    .each-input:nth-child(1) select,
    .each-input:nth-child(2) select,
    .each-input:nth-child(3) select {
      &:hover {
        border-bottom: 2px solid $blue-1;
      }
    }

    .each-input:nth-child(1),
    .each-input:nth-child(2),
    .each-input:nth-child(3) {
      &:hover .angle-up {
        visibility: visible;
      }
    }

    .each-input:nth-child(1),
    .each-input:nth-child(2),
    .each-input:nth-child(3) {
      &:hover .angle-down {
        visibility: hidden;
      }
    }
  }

  .buttons {
    margin-top: 30px;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;

    button {
      height: 42px;
      color: $grey-1;
      background: $light-grey-1;
      letter-spacing: 1px;
      font-size: 0.9rem;
      padding: 0 20px;
      margin-top: 10px;
      margin-left: 5px;
      margin-right: 5px;
      cursor: pointer;

      @media screen and (max-width: 760px) {
        height: 60px;
      }

      &:hover {
        background: $black-1;
        color: $white-1;
      }
    }
  }
}
