.section-3 {
  margin: 0 auto;
  width: 90%;
  margin-top: 75px;

  @media screen and (max-width: 1000px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media screen and (max-width: 670px) {
    width: 97%;
  }

  .text {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    @media screen and (max-width: 1000px) {
      margin-bottom: 30px;
      justify-content: center;
    }
    h2 {
      letter-spacing: 1px;
      font-weight: lighter;
      font-size: 2rem;
      margin-bottom: 20px;

      @media screen and (max-width: 1000px) {
        text-align: center;
      }
    }

    p {
      text-decoration: underline;
      color: $light-grey-2;
      font-weight: lighter;
      cursor: pointer;
      @media screen and (max-width: 1000px) {
        display: none;
      }
    }
  }

  .container {
    display: grid;
    grid-template-columns: 18% 18% 18% 18% 18%;
    justify-content: space-between;

    @media screen and (max-width: 1000px) {
      display: block;
      width: 100%;
      text-align: center;
      margin: 0 auto;
    }

    .each-div {
      height: 500px;
      position: relative;
      border: 1px solid $light-grey-1;

      @media screen and (max-width: 1200px) {
        height: 350px;
      }

      @media screen and (max-width: 1000px) {
        display: inline-block;
        text-align: center;
        margin-right: 20px;
        margin-bottom: 30px;
      }

      @media screen and (max-width: 436px) {
        margin-right: 0;
        width: 70%;
      }

      @media screen and (max-width: 340px) {
        width: 80%;
      }

      &:hover .circle {
        visibility: visible;
      }

      .circle {
        position: absolute;
        background: $white-1;
        z-index: 1000;
        bottom: 180px;
        right: 3px;
        cursor: pointer;
        border-radius: 300px;
        visibility: hidden;

        @media screen and (max-width: 1200px) {
          bottom: 145px;
        }

        &:hover {
          background: $light-grey-2;
        }

        &:hover i {
          color: $blue-1;
        }

        i {
          padding: 8px;
          font-size: 1.4rem;
        }
      }

      .div-img {
        width: 100%;
        height: 65%;
        cursor: pointer;

        @media screen and (max-width: 1200px) {
          height: 60%;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      h4 {
        cursor: pointer;
        color: $black-2;
        font-weight: lighter;
        padding-left: 8px;
        margin-top: 50px;
        letter-spacing: 1px;

        @media screen and (max-width: 1200px) {
          margin-top: 20px;
        }
        @media screen and (max-width: 1000px) {
          margin-top: 40px;
        }
      }

      h3 {
        cursor: pointer;
        text-transform: uppercase;
        color: $light-grey-2;
        font-weight: lighter;
        padding-left: 8px;
        margin: 6px 0;

        @media screen and (max-width: 1000px) {
          font-size: 1rem;
          padding: 0 10px;
          text-align: center;
        }
      }

      p {
        font-size: 0.8rem;
        color: $light-grey-3;
        font-weight: lighter;
        padding-left: 8px;
      }
    }
  }
  .new-p {
    text-decoration: underline;
    color: $light-grey-2;
    font-weight: lighter;
    cursor: pointer;
    display: none;

    @media screen and (max-width: 1000px) {
      display: flex;
    }
  }
}
