.section-6 {
  background: $light-grey-1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;

  h1 {
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: 4px;
    margin-top: 60px;
    margin-bottom: 25px;
  }

  .big-container {
    position: relative;
    width: 85%;
    height: 500px;

    @media screen and (max-width: 1210px) {
      height: 550px;
    }

    @media screen and (max-width: 1130px) {
      height: 850px;
      width: 95%;
    }

    @media screen and (max-width: 629px) {
      height: 1720px;
    }
    .container {
      display: grid;
      height: 100%;
      grid-template-columns: 23.5% 23.5% 23.5% 23.5%;
      justify-content: space-between;
      position: absolute;

      @media screen and (max-width: 1130px) {
        display: block;
        text-align: center;
      }

      .each-div {
        height: 100%;
        display: grid;
        grid-template-rows: 60% 40%;
        background: $white-1;

        @media screen and (max-width: 1130px) {
          display: inline-block;
          text-align: center;
          height: 420px;
          width: 270px;
          margin: 12px 10px;
        }
        .div-img {
          img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            cursor: pointer;
          }
        }

        .text {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          padding: 0 10px;

          @media screen and (max-width: 1130px) {
            gap: 17px;
          }
          h5 {
            font-size: 1.1rem;
            color: $light-grey-2;
            text-transform: uppercase;
            cursor: pointer;

            @media screen and (max-width: 1130px) {
              margin-top: 10px;
            }
          }

          h3 {
            font-size: 1.4rem;
            letter-spacing: 1px;
            cursor: pointer;
          }

          p {
            color: $light-grey-2;
            display: grid;
            grid-template-columns: 86% 14%;
            i {
              font-size: 1.6rem;
              cursor: pointer;
            }
          }
        }
      }
    }

    .container-2 {
      visibility: hidden;
    }
  }

  .little-barres {
    display: flex;
    margin-top: 25px;
    margin-bottom: 35px;
    cursor: pointer;

    @media screen and (max-width: 1130px) {
      margin-top: 70px;
    }

    .barre {
      margin: 0 5px;
      height: 3px;
      width: 28px;
    }

    .barre-on {
      background: black;
    }

    .barre-off {
      background: rgb(205 202 202 / 92%);
    }
  }
  .buttons {
    cursor: pointer;
    text-align: center;
    margin-bottom: 100px;

    button {
      height: 42px;
      color: $grey-1;
      background: $white-1;
      letter-spacing: 1px;
      font-size: 0.9rem;
      padding: 0 20px;
      margin-top: 10px;
      margin-left: 5px;
      margin-right: 5px;
      cursor: pointer;

      &:hover {
        background: $black-1;
        color: $white-1;
      }
    }
  }
}
